/*/grid*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	min-height: 100%;
    background: linear-gradient(0deg, rgba(241,62,143,0.9322916666666666) 1%, rgba(255,255,255,1) 18%, rgba(255,255,255,1) 82%, rgba(22,214,250,1) 96%);
	background-repeat: no-repeat;
	margin: 0;
	background-attachment: fixed;
}

html{
	height: 100%;
}

.grid-container > *{
   text-align: center;
}

.header{
	grid-area: header;
}

.navbar{
	grid-area: navbar;
	background-color: darkorange;
}

/* .sidebar{
	grid-area: sidebar ;
	background-color: blueviolet;
} */

.main{
	grid-area: main;
	background-color: aquamarine;
}

.footer{
	grid-area: footer;
	background-color: rgb(0, 0, 0);
}

/*Teléfono*/
.grid-container{
	display: grid;
	gap: 10px;
	grid-template-areas:
	"header"
	"navbar"
	"main"
	/* "sidebar" */
	"footer"
	;
}

/*Para tablet*/
@media(min-width:768px){
	.grid-container{
		grid-template-columns: 200px auto ;
		grid-template-rows: auto;
		grid-template-areas: 
		"header header"
		"navbar navbar"
		"main main"
		"footer footer";
	}
}

/*Para escritorio*/
@media(min-width:900px){
	.grid-container{
		grid-template-columns: 200px auto ;
		grid-template-rows: auto;
		grid-template-areas: 
		"header header header"
		"navbar navbar navbar"
		"main main main"
		"footer footer footer";
	}
}


/*grid*/


body{ /*Siento que este body no esta haciendo NADA*/
    background-color: rgb(9, 216, 16);
    margin: 0;
}
/*navbar*/
.navbar {
	background-color: white;
	border-radius: 0 0 40px 40px;
	box-shadow: 15px 15px 0px -1px #000000;
}

/*indicador de página*/

.nav-item:hover{
	border-bottom: 4px solid #f13e8f;
}

/*Cierra estilo del navbar*/

/*footer*/
.footer a{
	color: white;
	text-decoration: none;
}
.footer p{
	color: white;
}

.container.text-center {
	padding: px;
  }
  
  .row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .col {
	flex: 0 0 calc(33.333% - 10px);
	margin: 5px;
  }
  
  
  .col img {
	max-width: 100%;
	height: auto;
  }
/*fin del footer*/