/* estilos página de Nosotros */

#cuerpo{
  background: linear-gradient(0deg, #f13e8f 0%, rgba(255,255,255,1) 14%, rgba(255,255,255,1) 58%, rgba(22,214,250,1) 92%);
  background-repeat: no-repeat;
  /*background-attachment:fixed;*/

}

.card {
/* border-top-left-radius: 40px;  Borde superior izquierdo redondeado */
/* border-bottom-right-radius: 40px;  Borde inferior derecho redondeado */
 margin-bottom: 3%;
 background-color: #ffffff;
 padding: 1%;   
}


.text-justify {
 text-align: justify;
 font-family: sans-serif;
}


.card:hover {
 background-color:#83c02e91 ; 
 
}


.card-text {
 text-align: justify;
 align-items: center;
}

#card-shadow {
  padding: 5%;
  box-shadow: 15px 15px 0px 0px black;
}




.column-list {
 column-count: 2;
 column-gap: 5px;
}


.column-list li {
 margin-bottom: 5px 0;
}

.container {
 padding-top: 5%;
}


@media(max-width: 576px) { 
 .card-text {
   font-size: 0.8rem;
 }
}

/*Footer, logo y redes*/
.logo {
  text-align: center;
}

.redes {
  
  text-align: right;
}
/*Footer, logo y redes*/

/*Carrusel*/ 
.carousel { 
  width: 90%; 
  margin: auto;

}

.slick-slide { /* Este le da espacio entre cada "contenedor" de img.*/
  padding: 50px;
}
.slick-slide img {
display: block;
margin:auto;
max-width: 100%;
height: 80%;
border-radius: 10%;
border-style:outset;
}

.description {
  text-align: center;
  margin: 10px 0;
}

.slick-prev, .slick-next {
background-color: #68bccb7a;
color: #fff;
padding: 10px;
font-size: 30px;
border: none;
border-radius: 50%;
width: 4rem;
height: 4rem;
position: absolute;
top: 50%; /* Manda los botones al centro del carrusel. */
}

.slick-prev {
left: 0; /* Coloca el botón < a la izquierda */
z-index: 1; /* El méndigo botón se me ponía atrás de la imagen así que tuve que ponerle este para que lo mandara al frente jajaja*/
}

.slick-next {
right: 0; /* Coloca el botón > a la derecha */
}







/*navbar*/
.navbar {
background-color: white;
border-radius: 0 0 40px 40px;
box-shadow: 15px 15px 0px -1px #000000;
}

/*indicador de página*/

.nav-item:hover{
border-bottom: 4px solid #f13e8f;
}

/*Cierra estilo del navbar*/

/*footer*/
.footer{
background-color: #000000;
/*background-attachment:fixed;*/
}

.footer a{
  color: #f13e8f;
  text-decoration: none;
}
.footer p{
  color: #f13e8f;
}

.row {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.col {
flex: 0 0 calc(33.333% - 10px);
margin: 5px;
}


.col img {
max-width: 100%;
height: auto;
}
/*fin del footer*/

#enlaces{
  display: grid;
  text-align: left;
}