body {
    background-color: white;
    margin: 0;
}

.navbar-gris {
    background-color: #d9d9d9;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    min-height: 50vh;
}

.h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.mb-2 {
    font-family: sans-serif;
}

.card-body {
    background-color: #d9d9d9;
    padding: 10%;
    border-radius: 20px;
    border: none;
}

.card-title {
    font-family: sans-serif;
    padding-bottom: 5%;
}

.btn-aceptar {
    font-family: sans-serif;
    background-color:#d9d9d9;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 5px;
    border: none;
}

.btn-aceptar:hover {
    background-color: #ff8fa3;
}

.card-body2 {
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    border: 2px solid black;
}

/* Agrega estilos personalizados para posicionar el mensaje de éxito */
#success-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    max-width: 100%;
    width: 100%;
}

/* Estilos para hacer el formulario más ancho */
#contact-form {
    max-width: 100%;
    width: 100%;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.foot {
    font-family: sans-serif;
    background-color: #d9d9d9;
    padding: 3%;
}

.foot a, p {
    color: black;
    margin: 0;
}

.foot-text {
    padding: 3%;
}


/* estilos página de Nosotros */

.card {
    border-top-left-radius: 40px; /* Borde superior izquierdo redondeado */
    border-bottom-right-radius: 40px; /* Borde inferior derecho redondeado */
    margin-bottom: 3%;
    background-color: #d9d9d9;
    padding: 5%;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);/*Sombrita*/
}


.text-justify {
    text-align: justify;
    font-family: sans-serif;
}


.card:hover {
    background-color:#ff8fa3 ;
}


.card-text {
    text-align: justify;
    align-items: center;
}

.card-body {
    padding: 5%;
}


.nav-link {
    font-weight: 600;
}


.column-list {
    column-count: 2;
    column-gap: 5px;
}


.column-list li {
    margin-bottom: 5px 0;
}

.container {
    padding-top: 5%;
}


@media(max-width: 576px) {
    .card-text {
        font-size: 0.8rem;
    }
}

/*Footer, logo y redes*/
.logo {
    text-align: center;
}

.redes {
    
    text-align: right;
}
/*Footer, logo y redes*/

/*Carrucel*/

.carousel-inner{
    padding: 0%;

}

/*botones para desplazarse. NO MOVER.*/
.carousel-control-prev, .carousel-control-next {
  background-color: #d9d9d9;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%); /*este pone los botones al centro*/
}

/*Si quito este, se me hacen grandotas las cards jajaja*/
@media (min-width: 768px){
    .card img {
        height: 600px;
}
}