/*/grid*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	min-height: 100%;
}

html{
	height: 100%;
}

.grid-container > *{
   text-align: center;
}

.header{
	grid-area: header;
}

.navbar{
	grid-area: navbar;
	background-color: darkorange;
}

.sidebar{
	grid-area: sidebar ;
	background-color: blueviolet;
}

.main{
	grid-area: main;
	background-color: aquamarine;
}

.footer{
	grid-area: footer;
	background-color: rgb(0, 0, 0);
}

/*Teléfono*/
.grid-container{
	display: grid;
	gap: 10px;
	grid-template-areas:
	"header"
	"navbar"
	"main"
	"sidebar"
	"footer"
	;
}

/*Para tablet*/
@media(min-width:768px){
	.grid-container{
		grid-template-columns: 200px auto ;
		grid-template-rows: auto;
		grid-template-areas: 
		"header header"
		"navbar navbar"
		"sidebar main"
		"footer footer";
	}
}

/*Para escritorio*/
@media(min-width:900px){
	.grid-container{
		grid-template-columns: 200px auto ;
		grid-template-rows: auto;
		grid-template-areas: 
		"header header header"
		"navbar navbar navbar"
		"sidebar sidebar main"
		"footer footer footer";
	}
}

/*Animaciones*/
@keyframes ajo{
	from{
		  opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.ajo{
	animation-name: ajo;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;

}

/*grid*/


/*navbar*/
.navbar {
	background-color: white;
	border-radius: 0 0 40px 40px;
	box-shadow: 15px 15px 0px -1px #000000;
}

/*indicador de página*/

.nav-item:hover{
	border-bottom: 4px solid #f13e8f;
}

/*Cierra estilo del navbar*/

/*footer*/
.footer a{
	color: white;
	text-decoration: none;
}
.footer p{
	color: white;
}

.container.text-center {
	padding: px;
  }
  
  .row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .col {
	flex: 0 0 calc(33.333% - 10px);
	margin: 5px;
  }
  
  
  .col img {
	max-width: 100%;
	height: auto;
  }
/*fin del footer*/


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    min-height: 50vh;
}

.h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.mb-2 {
    font-family: sans-serif;
}

.card-body {
    background-color: #ffffff;
    padding: 10%;
    border-radius: 20px;
    border: none;
}

.card-title {
    font-family: sans-serif;
    padding-bottom: 5%;
}

.btn-aceptar {
    font-family: sans-serif;
    background-color:#d9d9d9;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 5px;
    border: none;
}

.btn-aceptar:hover {
    background-color: #ff8fa3;
}

.card-body2 {
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    border: 2px solid black;
}



/* Agrega estilos personalizados para posicionar el mensaje de éxito */
#success-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    max-width: 100%;
    width: 100%;
}



