/*/grid*/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	min-height: 100%;
}

html{
	height: 100%;
}

.grid-container > *{
   text-align: center;
}

.header{
	grid-area: header;
}

.navbar{
	grid-area: navbar;
	background-color: darkorange;
}

.sidebar{
	grid-area: sidebar ;
	background-color: blueviolet;
}

.main{
	grid-area: main;
	background-color: aquamarine;
}

.footer{
	grid-area: footer;
	background-color: rgb(0, 0, 0);
}

/*Teléfono*/
.grid-container{
	display: grid;
	gap: 10px;
	grid-template-areas:
	"header"
	"navbar"
	"main"
	"sidebar"
	"footer"
	;
}

/*Para tablet*/
@media(min-width:768px){
	.grid-container{
		grid-template-columns: 200px auto ;
		grid-template-rows: auto;
		grid-template-areas: 
		"header header"
		"navbar navbar"
		"sidebar main"
		"footer footer";
	}
}

/*Para escritorio*/
@media(min-width:900px){
	.grid-container{
		grid-template-columns: 200px auto ;
		grid-template-rows: auto;
		grid-template-areas: 
		"header header header"
		"navbar navbar navbar"
		"sidebar sidebar main"
		"footer footer footer";
	}
}

/*Animaciones*/
@keyframes ajo{
	from{
		  opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.ajo{
	animation-name: ajo;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;

}

/*grid*/


body{ /*Siento que este body no esta haciendo NADA*/
    background-color: rgb(9, 216, 16);
    margin: 0;
}
/*navbar*/
.navbar {
	background-color: white;
	border-radius: 0 0 40px 40px;
	box-shadow: 15px 15px 0px -1px #000000;
}

/*indicador de página*/

.nav-item:hover{
	border-bottom: 4px solid #f13e8f;
}

/*Cierra estilo del navbar*/

/*footer*/
.footer a{
	color: white;
	text-decoration: none;
}
.footer p{
	color: white;
}

.container.text-center {
	padding: px;
  }
  
  .row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .col {
	flex: 0 0 calc(33.333% - 10px);
	margin: 5px;
  }
  
  
  .col img {
	max-width: 100%;
	height: auto;
  }
/*fin del footer*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    min-height: 50vh;
}

.h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.mb-2 {
    font-family: sans-serif;
}

.card-body {
    background-color: #ffffff;
    padding: 10%;
    border-radius: 20px;
    border: none;
}

.card-title {
    font-family: sans-serif;
    padding-bottom: 5%;
}

.btn-aceptar {
    font-family: sans-serif;
    background-color:#d9d9d9;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 5px;
    border: none;
}

.btn-aceptar:hover {
    background-color: #ff8fa3;
}

.card-body2 {
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    border: 2px solid black;
}



/* Agrega estilos personalizados para posicionar el mensaje de éxito */
#success-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    max-width: 100%;
    width: 100%;
}

/* Estilos para hacer el formulario más ancho */
#contact-form {
    max-width: 100%;
    width: 100%;
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

.foot {
    font-family: sans-serif;
    background-color: #d9d9d9;
    padding: 3%;
}

.foot a, p {
    color: black;
    margin: 0;
}

.foot-text {
    padding: 3%;
}




/* estilos página de Nosotros */

.card {
	/* border-top-left-radius: 40px;  Borde superior izquierdo redondeado */
	/* border-bottom-right-radius: 40px;  Borde inferior derecho redondeado */
	 margin-bottom: 3%;
	 background-color: #ffffff;
	 padding: 1%;   
 }
 
 
 .text-justify {
	 text-align: justify;
	 font-family: sans-serif;
 }
 
 
 .card:hover {
	 background-color:#83c02e91 ; 
	 
 }
 
 
 .card-text {
	 text-align: justify;
	 align-items: center;
 }
 
 .card-body-us {
	 padding: 5%;
	 box-shadow: 10px 10px 0px 0px #000000; /*Sombrita*/
	 z-index: 1;
 }
 
 
 
 
 .column-list {
	 column-count: 2;
	 column-gap: 5px;
 }
 
 
 .column-list li {
	 margin-bottom: 5px 0;
 }
 
 .container {
	 padding-top: 5%;
 }
 
 
 @media(max-width: 576px) { 
	 .card-text {
		 font-size: 0.8rem;
	 }
 }

/*Footer, logo y redes*/
.logo {
    text-align: center;
}

.redes {
    
    text-align: right;
}
/*Footer, logo y redes*/


/*formulario contacto*/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(#f13e8f, #f5790c,#ffc603);
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.btn-success { 
	background-color: white;
	border-radius: 1rem;
	font-size: medium;
	font-weight: bold;
	width: 6rem;
	height: 2rem;
	size: 32px;

}


.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 1px solid black;
	border-radius: 2rem;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__grupo-btn-enviar {
		width: 100%;
	
	}
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
/*Fin del formulario Contactanos*/

/*Carrusel*/ 
.carousel { 
    width: 90%; 
    margin: auto;
  
  }
  
  .slick-slide { /* Este le da espacio entre cada "contenedor" de img.*/
    padding: 50px;
  }
  .slick-slide img {
  display: block;
  margin:auto;
  max-width: 100%;
  height: 80%;
  border-radius: 10%;
  border-style:outset;
  }
  
  .description {
    text-align: center;
    margin: 10px 0;
  }
  
  .slick-prev, .slick-next {
  background-color: #68bccb7a;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%; /* Manda los botones al centro del carrusel. */
  }
  
  .slick-prev {
  left: 0; /* Coloca el botón < a la izquierda */
  z-index: 1; /* El méndigo botón se me ponía atrás de la imagen así que tuve que ponerle este para que lo mandara al frente jajaja*/
  }
  
  .slick-next {
  right: 0; /* Coloca el botón > a la derecha */
  }

